<ngx-loading-bar [color]="'#000'" [includeSpinner]="false"></ngx-loading-bar>
<header>
  <div class="logo-container">
    <h3 class="logo" routerLink="">Daily Samachar</h3>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="technology">Technology</a>
      </li>
      <li>
        <a routerLink="business">Business</a>
      </li>
      <li>
        <a routerLink="sports">Sports</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <p>&copy; 2021 Daily Samachar</p>
</footer>
